{% extends "base.html" %}
{% block content %}

<div class="col">
    <div class="pagetitle">
        <h1>Projects</h1>
        <p>
            These are some of my best projects.
        </p>
    </div>
    <!-- row 1 -->
    <div class="row project">
        <div class="col">IMAGE</div>
        <div class="col">
            <h6>Title</h6>
            <p>Paragraph</p>
        </div>
    </div>
    <!-- row 2 -->
    <div class="row project">
        <div class="col">IMAGE</div>
        <div class="col">
            <h6>Title</h6>
            <p>Paragraph</p>
        </div>
    </div>
    <!-- row 3 -->
    <div class="row project">
        <div class="col">IMAGE</div>
        <div class="col">
            <h6>Title</h6>
            <p>Paragraph</p>
        </div>
    </div>
</div>
<!-- start of bottom -->
</div>
</div>
</body>
{% endblock content %}